[mysqld]
# 设置 MySQL 服务监听的 IP 地址，默认是所有 IP
bind-address = 0.0.0.0

# 设置 MySQL 服务器的默认字符集
character-set-server = utf8mb4

# 设置 MySQL 服务器的默认排序规则
collation-server = utf8mb4_general_ci

# 设置 MySQL 服务器的默认存储引擎
default-storage-engine = InnoDB

# 设置 MySQL 服务器的最大连接数
max_connections = 100

# 设置 MySQL 服务器的最大包大小
max_allowed_packet = 64M

# 设置 MySQL 服务器的默认超时时间
wait_timeout = 28800

# 设置 MySQL 服务器的查询缓存大小
query_cache_size = 64M

# 设置 MySQL 服务器的日志级别
log_error = /var/log/mysql/error.log
log_queries_not_using_indexes = 1
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow-query.log
long_query_time = 2
